.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
 
    .custom-toggle-password {
      height: 100%; /* Ajusta la altura al 100% del contenedor */
      font-size: 1.2rem; /* Ajusta el tamaño del icono según sea necesario */
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .permission-checkbox {
    margin-right: 10px; /* Espacio a la derecha del checkbox */
}

.form-check-label {
    margin-left: 5px; /* Espacio a la izquierda de la etiqueta del checkbox */
}
/*Estilos navbar*/
body {
  display: flex !important;
  margin: 0 !important;
  padding: 0 !important;
}

.sidebar {
  height: 100vh !important;
  width: 250px !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #f8f9fa !important;
  padding-top: 20px !important;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1) !important;
  overflow-y: auto !important;
}

.sidebar .nav-link {
  padding: 10px 15px !important;
  color: #333 !important;
  display: block !important;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef !important;
}

.sidebar .collapse {
  padding-left: 15px !important;
}

.sidebar .nav-item .collapse .nav-link {
  padding-left: 30px !important;
}

.content {
  margin-left: 250px !important;
  padding: 20px !important;
  flex: 1 !important;
}

.nav-item .fa-cogs {
  margin-right: 8px !important;
}

.sidebar.nav-item.nav-link.active {
  background-color: #e9ecef !important;
}

#configMenu {
  list-style-type: none !important; /* Elimina los puntos de la lista */
  padding: 0 !important; /* Elimina el padding del ul */
  margin: 0 !important; /* Elimina el margin del ul */
}

/* Asegura que cada elemento de la lista se muestre en una nueva línea */
#configMenu .nav-item {
  display: block !important; /* Asegura que cada li se muestre como un bloque */
  margin-bottom: 10px !important; /* Añade espacio entre los elementos (opcional) */
}

/* Asegura que los enlaces se comporten como bloques */
#configMenu .nav-link {
  display: block !important; /* Asegura que cada enlace se muestre como un bloque */
}

.hidden {
  display: none !important;
}

.nav-link {
  display: flex !important;
  align-items: center !important; /* Alinea verticalmente el ícono y el texto */
}

.nav-link i {
  margin-right: 15px !important; /* Ajusta el valor para definir el espacio deseado */
}

.profile-dropdown {
  position: absolute !important; /* Posiciona el contenedor en relación a su contenedor padre */
  top: 0 !important; /* Ajusta el valor según sea necesario */
  right: 0 !important; /* Ajusta el valor según sea necesario */
  margin: 10px !important; /* Opcional: añade margen para separar del borde */
}

.profile-dropdown .dropdown-menu {
  right: 0 !important; /* Alinea el menú desplegable con el borde derecho del contenedor */
  left: auto !important; /* Asegura que el menú no se desplace a la izquierda */
}

.toggle-icon {
  transition: transform 0.3s ease !important;
  display: inline-block !important;
  margin-left: 10px !important;
}

.toggle-icon.rotate {
  transform: rotate(180deg) !important;
}

